<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0 " newVersion="10.0.0.0 " />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="ConnString" connectionString="server=192.168.8.99;User Id=root; Persist Security Info=True;database=WSHTZF;password=root;"/>
    <add name="ConnectionType" connectionString="mySql"/>
  </connectionStrings>
  <appSettings>
    <add key="ServiceIP" value="192.168.8.99"/>
    <add key="ServiceCode" value="9528"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime requestValidationMode="2.0"  targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <!--<validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add type="UrlRewrite.ModuleRewriter, UrlRewrite" name="ModuleRewriter" />
    </modules>
    <handlers>
      <add verb="*" path="*.mzkj" type="UrlRewrite.RewriterFactoryHandler, UrlRewrite" name="mzkj" />
    </handlers>--> 
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Headers" value="appKeyId,timestamp,nonce,signature,FContent" />
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
