@charset "utf-8";
/* CSS Document */
/*================管理首页布局.开始===================*/
.header{ position:fixed; top:0; right:0; width:100%; height:42px; z-index:11; }
.header-box{ margin:0 auto; min-width:780px; }
.main-sidebar{ position:absolute; top:42px; bottom:0; left:0; width:180px; }
.sidebar-nav{ position:absolute; top:0px; bottom:0; left:0; width:180px; padding-right:1px; }
.main-container{ position:absolute; top:42px; right:0; bottom:0; left:181px; }
	.main-container iframe{ position:absolute; top:0; right:0; bottom:0; left:0; width:100%; height:100%; }

.foot{ position:fixed; bottom:0; right:0; width:100%; height:32px;}
/*================管理首页布局.结束===================*/


*{ padding:0; margin:0; font-family:"Microsoft YaHei"; }
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
time, mark, audio, video{ margin:0; padding:0; border:0; font-size:100%; text-decoration:none; }
html { line-height:1; }
q, blockquote { quotes:none; }
q:before, q:after, blockquote:before, blockquote:after { content:""; content:none; }
a img { border:none; }
ol, ul { list-style:none; }
table { border-collapse:collapse; border-spacing:0; }
.ime-disabled{ ime-mode:disabled; } 
.clear{ clear:both; font-size:0px; height:0px; overflow:hidden; }
.line5{ clear:both; font-size:0px; height:5px; overflow:hidden; }
.line10{ clear:both; font-size:0px; height:10px; overflow:hidden; }
.line15{ clear:both ;font-size:0px; height:15px; overflow:hidden; }
.line20{ clear:both; font-size:0px; height:20px; overflow:hidden; }
.line30{ clear:both; font-size:0px; height:30px; overflow:hidden; }
.left{ float:left; }
.right{ float:right; }
.loginbody{ background:#008fbf; text-align:center; }
.indexbody{ width:100%; height:100%; min-width:780px; overflow-y:hidden; }
.mainbody{ margin:10px 15px; }


/* =========================登录页样式.开始======================= */
.login-screen{ position:absolute; top:50%; left:50%; margin-top:-260px; margin-left:-210px; width:350px; text-align:left; }
.login-icon{ float:left; width:96px; height:96px; text-indent:-9999px; }
	.login-icon>h4{ margin-top:4px; color:#fff; font-size:17px; font-weight:200; line-height:34px; opacity:0.95; }
		.login-icon>h4 small{color:inherit; display:block; font-size:inherit; font-weight:700; }
.login-form{ float:left; margin-left:30px; padding:20px 25px 25px 25px; width:330px; background:#ECEFF1; border-radius:6px; text-align:center; -webkit-box-shadow:2px 2px 3px #aaa; -moz-box-shadow:2px 2px 3px #aaa; filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#999999'); box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1); }
	.login-form h1{ display:block; margin-bottom:20px; border-bottom:1px solid #DFDFDF; text-align:left; height:40px; line-height:30px; color:#304b65; font-size:21px; font-weight:300; font-family:'Microsoft YaHei'; }
	.control-group{ position:relative; margin-bottom:6px; }
	.login-field{ display:inline-block; padding:11px 0 11px 10px; width:296px; height:20px; line-height:20px; color:#ACB6C0; font-size:17px; background:#fff; border:1px solid #E5E5E5; border-radius:6px 6px 6px 6px; margin-bottom:10px; vertical-align:middle; }
		.login-field:focus{ border:1px solid #BBD5EA; }
	.placeholder{ color:#999; }
	.login-field-icon{ position:absolute; display:block; top:14px; right:13px; width:16px; height:20px; cursor:pointer; }
		.login-field-icon.user{ background-position:-1px -137px;}
		.login-field-icon.pwd{ background-position:-28px -137px; }
	.btn-login{ display:block; margin:0; padding:10px 0; width:100%; color:#fff; border:2px solid #ECEFF1; border-radius:6px 6px 6px 6px;  background:#008fbf; font-size:16.5px; text-decoration:none; cursor:pointer; *border:0; }
	.login-tips{ display:block; margin:15px auto 0 auto; height:14px; }
		.login-tips i{ display:inline-block; margin-right:5px; width:14px; height:14px; text-indent:-9999px; vertical-align:middle; }
		.login-tips b{ display:inline-block;height:14px; line-height:14px;  font-size:12px; font-weight:normal; color:#000; vertical-align:middle; }
.login-screen .arrow{ position:absolute; display:block; left:116px; top:30px; width:11px; height:22px; text-indent:-9999px;  }
/* =========================登录页样式.结束======================= */
